<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qlean's Garage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Qlean's Garage</h1>
    <div class="work-area">
        <form id="createForm" action="{{ '/edit_car/' + (car.license if car else '') if edit_mode else '/add_car' }}" method="post">
            Car license number:<input id="license" name="license" value="{{ car.license if car else '' }}" {{ 'readonly' if edit_mode else '' }}>
            Car manufacture:<input id="carManufacture" name="carManufacture" value="{{ car.manufacture if car else '' }}">
            Color:<input id="carColor" name="carColor" value="{{ car.color if car else '' }}">
            Car Model:<input id="carModel" name="carModel" value="{{ car.model if car else '' }}">
            <button type="submit">{{ 'Edit Car' if edit_mode else 'Add Car' }}</button>
        </form>
        
        <!-- <button onclick="addCar()">Add Car</button><br><br> -->
        <table id="carTable">
            <thead>
                <tr>
                    <th>license Number</th>
                    <th>Car Manufacture</th>
                    <th>Color</th>
                    <th>Car Model Year</th>
                    <th colspan="2">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for car in car_lst %}
                <tr>
                    <td>{{ car.license }}</td>
                    <td>{{ car.manufacture }}</td>
                    <td>{{ car.color }}</td>
                    <td>{{ car.model }}</td>
                    <td><button onclick="editCar('{{ car.license }}')">Edit</button></td>
                    <td><a href="{{ url_for('del_car', license=car.license) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button onclick="clearGarage()">Reset Garage</button>
        <!-- <button onclick="removeLastCar()">Remove Last Car</button><br><br> -->
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>

</body>

</html>